/* fonts
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.eot');
    src: url('../fonts/Raleway.eot') format('embedded-opentype'),
         url('../fonts/Raleway.woff2') format('woff2'),
         url('../fonts/Raleway.woff') format('woff'),
         url('../fonts/Raleway.ttf') format('truetype'),
         url('../fonts/Raleway.svg#Raleway') format('svg');
}
@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans.eot');
    src: url('../fonts/JosefinSans.eot') format('embedded-opentype'),
         url('../fonts/JosefinSans.woff2') format('woff2'),
         url('../fonts/JosefinSans.woff') format('woff'),
         url('../fonts/JosefinSans.ttf') format('truetype'),
         url('../fonts/JosefinSans.svg#JosefinSans') format('svg');
}
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis.eot');
    src: url('../fonts/Dosis.eot') format('embedded-opentype'),
         url('../fonts/Dosis.woff2') format('woff2'),
         url('../fonts/Dosis.woff') format('woff'),
         url('../fonts/Dosis.ttf') format('truetype'),
         url('../fonts/Dosis.svg#Dosis') format('svg');
}
*/
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/QuicksandRegular.eot');
    src: url('../fonts/QuicksandRegular.eot') format('embedded-opentype'),
         url('../fonts/QuicksandRegular.woff2') format('woff2'),
         url('../fonts/QuicksandRegular.woff') format('woff'),
         url('../fonts/QuicksandRegular.ttf') format('truetype'),
         url('../fonts/QuicksandRegular.svg#QuicksandRegular') format('svg');
}
@font-face {
    font-family: 'Josefin Slab';
    src: url('../fonts/JosefinSlabItalic.eot');
    src: url('../fonts/JosefinSlabItalic.eot') format('embedded-opentype'),
         url('../fonts/JosefinSlabItalic.woff2') format('woff2'),
         url('../fonts/JosefinSlabItalic.woff') format('woff'),
         url('../fonts/JosefinSlabItalic.ttf') format('truetype'),
         url('../fonts/JosefinSlabItalic.svg#JosefinSlabItalic') format('svg');
}
@font-face {
    font-family: 'Poiret One';
    src: url('../fonts/PoiretOneRegular.eot');
    src: url('../fonts/PoiretOneRegular.eot') format('embedded-opentype'),
         url('../fonts/PoiretOneRegular.woff2') format('woff2'),
         url('../fonts/PoiretOneRegular.woff') format('woff'),
         url('../fonts/PoiretOneRegular.ttf') format('truetype'),
         url('../fonts/PoiretOneRegular.svg#PoiretOneRegular') format('svg');
}
/* Variables */
$font-1: 'Quicksand', Georgia, Serif;
$font-2: 'Josefin Slab', Georgia, Serif;
$font-3: 'Poiret One', Georgia, Serif;

$color-principal: rgb(60,200,30);
$color-secundario: rgb(15,25,120);
$amarillo: rgba(255,220,50,1);
$estecolor: rgba(255,60,70,0.9);
$medianoche: rgb(4, 22, 216);
$verdetransparente: rgba(99, 236, 38, 0.39);

$color-p: rgba(31,166,154,1);/* color principal */ 
$color-s: $verdetransparente; /*  color secundario */

/* Mixins */
@mixin fonts($number-font, $weight, $size){
	@if $number-font == 1{
		font-family: $font-1;
	}
    @if $number-font == 2{
		font-family: $font-2;
	}
    @if $number-font == 3{
		font-family: $font-3;
	}
	font:{
		weight: $weight;
		size: $size;
	}
}
@mixin borders(){
    background-color: rgb(250,250,250);
    border: 2px solid $estecolor;
    border-bottom: 0px;
    border-top: 0px;
    padding: 5px 15px;
}
@mixin paddings(){
        padding: 5px 15px;
}
@mixin botons($colour){
        padding: 5px;
        color:white;
        display: inline-block;
        background: $colour;
}