@import "../../deb/bourbon/app/assets/stylesheets/bourbon";
@import "fonts-mixins-vars";

/* ---- a menor resolucion --- */
@media only screen and (max-width: 768px){
    #main-header{
        .wrap{

            .my-insign{
                margin: 0;
                padding: 0;
            }
            .head-info, .head-menu{
                width:100%;
                text-align:center;
            }
            .head-info{
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                .info{
                    text-align: center;
                }
                .my-insign{
                   margin: 0;
                }
            }
        }
    }
    .minimo-position{
        position: absolute!important;
    }
    #main-content{
        #posts{
            #post{
                .contacto{
                    @include flex-direction(column);
                    
                    .contac{
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* a mayor resolucion */
@media only screen and (min-width: 768px){
    #main-header{
        .wrap{

            .head-info, .head-menu{
                width:100%;
                text-align:center;
            }
            .head-info{
                @include display(flex);
                @include justify-content(center);
                @include align-items(center);

                .info{
                    text-align: left;
                }

                img{
                    @include transform(scale(1.3) translateY(-15px));
                    //border-radius: 180px;
                }
            }
        }
    }
    #main-content{
        #posts{
            #post{
                .contacto{
                    .contac{
                        width: 48%;
                    }
                }
            }
        }
    }
}