@import "../../deb/bourbon/app/assets/stylesheets/bourbon";
@import "fonts-mixins-vars";
@import "content/init";

body, html{
    height: 100%;
}

body{
    @include background (linear-gradient(white,transparent), linear-gradient(50deg, black, transparent));
    //@include background( linear-gradient($color-p, transparent), linear-gradient(50deg, $color-s, transparent));
    background: {
        color: rgb(19,19,19);
        //image: url('../Images/Imgfondo.jpg');
        blend-mode: screen;
        attachment:fixed;
        size: 200% 200%;
    }
    @include animation(backgrounds 50s infinite cubic-bezier(.95, .13, 0, .93));

   &:after{
        content: "";
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-image: url('../images/background3.jpg');
        background-size: cover;
        background-position: center center;
        @include filter( opacity(50%) saturate(120%) hue-rotate(20deg) contrast(200%) );
    }
}

/* ---------------------- Cabezeras / Headers ----------------------- */
.home #main-header{
    @import "content/head-home";
}

#main-header{
    @import "content/head";
    @include justify-content(center);
}
.categorys{
    .liss, .sub-liss{
        @include display(flex);
        @include flex-wrap(wrap);
        margin: 0;
        padding: 0 0 0 0;
        list-style: none;
        position: relative;
        
        li{
            margin-left: 5px;
            display: inline-block;
            margin-top: 15px;
            
            &:nth-child(1){
                margin-left: 0px;
            }
            
            a{
                padding: 5px;
                background: black;
            }
            ul{
                display: none;
                position: relative;
                left: 0;
                right: 0;
                padding: 0;
                li{
                    display: inline-block;
                }
            }
            &.current-cat, &.current-cat-parent{
                &> a{
                    background-color: $estecolor;
                }
                .children{
                    display: block;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .sub-liss{
        .children{
            display: block;
            margin: 0;
            padding: 0;
        }
    }
}
/* ---------------------- Cuerpo / body ----------------------------- */
.home #main-content{
    display: none;
}

#main-content{
    box-sizing: border-box;
    border-radius: 8px;
    @import "content/body";
    @include display(flex);
    @include justify-content(space-between);
    
    a, h1, h2{
        color: black;
    }
    .popup{
        color: white;
    }
}

/* ---------------------- Pies / footer ----------------------------- */
#main-footer{
    @import "content/footer";
}
.web .floats{
    li{
        list-style: none;
    }
}
.web .home .floats{
    display: block;
}

/* ---------------------Efectos, actives, extras, animaciones -------------------- */
@import "content/extras";
