<div class="contacto">
    
    <div class="contac otros">
        <h2 class="title-div">Otros medios de contacto</h2>
        <p>Skype: SirReiz</p>
        <p>emails: <a href="mailto:yo@elreiz.com" target="_blank">yo@elreiz.com</a> o <a href="mailto:xreizonx@gmail.com" target="_blank">xreizonx@gmail.com</a></p>
        <p>Twitter: <a href="http://twitter.com/McReiz" target="_blank">@McReiz</a></p>
        <p>Facebook: <a href="http://facebook.com/elReiz" target="_blank">el Reiz</a></p>
    </div>
    
    <div class="contact forms">
        <h2>contacto</h2>
        [contact-form-7 id="4" title="Formulario de contacto 1"]
    </div>
</div>