<div class="proyecto">
	<div class="info">
		<figure>
			<a href="" target="_blank" title=""><img src="" alt=""></a>
		</figure>
		<div>
			<h2><a href="" target="_blank" title=""></a></h2>
			<span></span>
		</div>
	</div>
	<div class="link-page"><a class="boton p" target="_blank" href="" title=""><span>Visitar </span><span class="fa fa-chevron-right"></span></a></div>
</div>

