<div class="redes minimo-position">
    <a href="http://www.facebook.com/elReiz/" class="red fb fa fa-facebook" title="Facebook" target="_blank"></a>
    <a href="https://twitter.com/McReiz/" class="red tt fa fa-twitter" title="Twitter" target="_blank"></a>
    <a href="https://www.instagram.com/McReiz/" class="red in fa fa-instagram" title="Instagram" target="_blank"></a>
    <a href="http://elreiz.tumblr.com" class="red tb fa fa-tumblr" title="Tumblr" target="_blank"></a>
    <a href="https://www.linkedin.com/in/reizon-rafael-25ba0190?" class="red li fa fa-linkedin" title="LinkedIn" target="_blank"></a>
    <a href="https://plus.google.com/+Elreizc" class="red gplus li fa fa-google-plus" title="Google+" target="_blank"></a>
    <a href="https://github.com/McReiz" class="red gh fa fa-github-alt" title="Github" target="_blank"></a>
</div>