
#posts,#sidebar{
    box-sizing: border-box;
}
#posts{
    width: 100%;
    
    #post{
        margin-bottom: 30px;
        .post-head,.post-footer{
            @include borders();

            h1, h2{
                padding: 0;
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
                font-size: 28px;
            }
        }
        .post-content{
            @include borders();
            padding: 0;
            margin: 0;
            
            .content{
                @include paddings();
                display: block;
            }

        }
        .thumbnails, .thumbnail, .thumbnail-single{
            line-height: 0%;
            padding: 15px;
        }
        .thumbnails img,.thumbnail-single img{
            width: 100%;
            height: auto;
            margin: 0;
        }
        .proyecto{
            margin-bottom: 7px;
            width: 100%;
            background: rgba(0,0,0,.05);
            
            .info, .link-page{
                padding: 5px;
            }
            .info{
                @include display(flex);
                figure{
                    width: 25%;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .description{
                    width: 75%;
                }
            }
            .link-page{
                text-align: right;
            }
        }
        .contacto{
            @include display(flex);
            @include justify-content(space-between);
            width: 100%;
            .contac{
                a{
                    text-decoration: underline;
                }
                &.forms{
                    @include order(1);
                    
                    .form{
                        margin-top: 7px;
                    }
                }
                &.otros{
                    @include order(2);
                }
                input, textarea{
                    box-sizing: border-box;
                    width: 100%;
                }
                input[type="submit"]{
                    width: auto;
                }
            }
        }
    }
    &.single{
        margin-top: 15px;
    }
    #post-2{
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include align-content(stretch);
        @include borders();
        margin-bottom: 30px;
        
        > div{
            display: block;
            box-sizing: border-box;
        }
        .thumbnails{
            width: 30%;
            min-width: 210px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .post-content{
            position: relative;
            padding-left: 5px;
            width: 68%;
            min-width: 210px;
            .post{
                padding-bottom: 47px;
            }
            .post-footer{
                position: absolute;
                text-align: right;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        &:nth-child(1){
            margin-top: 10px;
        }
    }
    .pagination{
        @include borders();
        margin-bottom: 30px;
        padding: 10px 15px;
    }
}
#respond #commentform, .commentlist{
    @include borders();
}
#respond{
    textarea{
        max-width: 470px;
        width: 100%;
    }
}
.commentlist{
    padding: 0;
    list-style: none;
    
    .comment-reply-link{
       @include botons(black);
    }
    li{
        padding: 5px 15px;
        ul{
            margin-top: 5px;
            list-style: none;
            
            li:nth-child(2n+1){
                background: rgba(0,0,0,.03);
            }
        }
    }
    &> .comment:nth-child(2n+0){
        background: rgba(0,0,0,.05);
    }
    .comment-awaiting-moderation{
       @include botons($color-principal);
    }
    .comment-author{
        @include display(flex);
        @include align-items(center);
        margin-bottom: 5px;
        .fn, .says{
            margin-left: 5px;
        }
    }
}

// extras
$size-dates: 13px;
$color-dates: $estecolor;
.post-dates{
    font-size: $size-dates;
    color: $color-dates;
    .items{
        font-size: $size-dates;
        display: inline-block;
        color: $color-dates;

        div{
            display: inline-block;
            font-size: $size-dates;
            color: $color-dates;
        }
    }
    a{
        font-size: $size-dates;
    }
}
.nav-links{
    .page-numbers{
        display: inline-block;
        padding: 5px 10px;
        background: black;
        color: white;
        &.current{
            background: $estecolor;
        }
    }
}