/* 
    //
    // ==== || Background color animation
    //
*/
@include keyframes(backgrounds){
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
/*
 ||
 ||====|| LOGO ANIMACION
 ||
*/

@include keyframes(Logo){
	0%{
		text-shadow: 2px 0px 0px $color-p;
	}
	49%{
		text-shadow: 0px 0px 0px $color-p;
	}
	50%{
		text-shadow: 2px 0px 0px $color-s;
	}
	100%{
		text-shadow: 0px 0px 0px $color-s;
	}
}
#redes{
	position: absolute;
	top: 0px;
	right: 0px;

	.redsocial{
		padding: 25px;
		display: block;

		&.fb{
			background-color: rgba(70,70,190,1);
		}
		&.twitt{
			background-color: rgba(10,170,170,1);
		}
		&.instagram{
			background-color: rgba(205,135,70,1);
		}
		&.github{
			background-color: rgba(215,215,215,1);
		}
	}
}
@include keyframes(menu-a){
	0%{
		color: $color-p;
	}
	50%{
		color: $color-s;
	}
	100%{
		color: $color-p;
	}
}