.wrap{
    width: 100%;
    
    .head-info, .head-menu{
        width:100%;
        text-align:center;
    }
    .head-info{
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        
        h1,h2{
            @include fonts(3,normal,60px);
            @include animation(Logo 2s linear infinite);
            padding:0;
            margin:0;
        }
        .info{
            text-align: left;
        }
        .my-insign{
            width: 180px;
            margin-right: 15px;
            padding: 0;
            border-radius: 180px;
            overflow: hidden;
            border: 3px solid white;
            box-shadow: 3px 3px 8px rgba(0,0,0,.2);

            img{
                width: 100%;
                @include transform(scale(1.3) translateY(-15px));
                height: auto;
                //border-radius: 180px;
            }
        }
    }
    .head-menu{
        
        div{
            display: inline-block;
            margin: 20px;
            
            ul{
                list-style: none;
                padding: 0px;
                margin: 0px;
                
                li{
                    font-size:20px;
                    padding: 5px;
                    display: inline-block;
                    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
                }
            }
        }
    }
}
&.home{
    height: 100%;
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-arround);
}