.wrap{
    width: 100%;
    
    .my-insign{
        margin: 0;
        padding: 0;
    }
    .head-info, .head-menu{
        width:100%;
        text-align:center;
    }
    .head-info{
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        .info{
            text-align: center;
        }
        .my-insign{
           margin: 0;
        }
    }
}