h1,h2,h3,h4,h5,h6,h7{
    font-family: $font-2;
}
a{
    color: white;
    text-decoration: none;

    &:hover{
        text-decoration:underline;
    }
}
/* fuente defecto en las etiquetas */
div, main, section, footer{
    @include fonts(1,normal,15px);
}

/* valores predeterminados del main */

#main-wrap{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    @include display(flex);
    @include flex-direction(column);
    
    #main-header, .categorys,#main-content, #main-footer{
        width:100%;
    }
}
.posts #main-wrap, .single #main-wrap{
    max-width: 870px;
}
.home #main-wrap{
    height: 100%;
    @include justify-content(center);
    @include align-items(center);
}
/* botones pre-configurados */
.boton{
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 17px;
    color: white!important;
    
    &.p{
        background-color: $color-principal;
    }
}
/* botoenes de compartir */
.bottom-shared{
    a{
        text-align: center;
        width: 35px;
        height: 35px;
        font-size: 25px;
        background: black;
        color: white;
        padding: 10px 5px 0;
    }
}
.screen-reader-text{
    display: none;
}
.redes{
    position: fixed;
    right: 0;
    top: 0;
    width: 42px;
    text-align: right;
    
    a{
        text-align: center;
        display: inline-block;
        font-size: 30px;
        padding: 7px;
        background: black;
        width: 100%;
        box-sizing: border-box;
        
        
        &.fb{
            background-color: rgb(16, 52, 128);
        }
        &.tt{
            background-color: rgb(29, 161, 242);
        }
        &.in{
            background-color: rgb(130, 71, 52);
        }
        &.gh{
            background-color: rgb(51, 51, 51);
        }
        &.li{
            background-color: rgb(0, 119, 181);
        }
        &.tb{
            background-color: rgb(54, 70, 93);
        }
        &.gplus{
            background-color: rgb(220, 74, 61);
            font-size: 27px;
        }
        &:hover{
            text-decoration: none;
        }
    }
}
.full-img{
    width: 100%;
    height: auto;
}
